/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.nav-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width:800px) {
  .nav-box {
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
}
.nav-box img {
  width: 300px;
}
@media (max-width:500px) {
  .nav-box img {
    margin-left: 50px;
  }
}
.nav-box .nav_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}
.nav-box .nav_links a {
  text-decoration: none;
  color: #31708E;
}
.nav-box .nav_links a:hover {
  color: #8FC1E3;
}
html footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  text-align: center;
  margin-top: 50px;
}
html footer img {
  width: 20px;
}
html footer a {
  text-decoration: none;
  color: #31708E;
}
html {
  background-color: #F7F9FB;
  font-size: 67.5%;
}
html body {
  display: flex;
  font-family: 'Montserrat';
  font-size: 2rem;
  width: 80%;
  margin: 0 auto;
  color: #31708E;
  flex-direction: column;
}
html body header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 475px;
  background-image: url(https://files.slack.com/files-pri/T4JUEB3ME-FQPU2FXQX/kamil-pietrzak-ibmtjlic9km-unsplash.jpg);
  background-size: cover;
  border-radius: 20px;
}
@media (max-width:500px) {
  html body header {
    background-image: none;
    margin-bottom: 25px;
  }
}
html body header h2 {
  font-size: 7rem;
  padding-bottom: 30px;
  padding-top: 150px;
  font-family: 'Pattaya';
}
html body header .call-to-action {
  display: flex;
  justify-content: center;
  margin: 5px;
  flex-direction: row;
}
html body header .call-to-action .sign-up button {
  background: #687864;
}
html body header .call-to-action button {
  margin: 10px;
  width: 100px;
  height: 50px;
  font-size: 1.7rem;
  background: #5085A5;
  color: #F7F9FB;
  border-radius: 16px;
  border: none;
}
html body header .call-to-action button:hover {
  background-color: #F7F9FB;
  color: #31708E;
}
html body .main-content {
  display: flex;
  flex-direction: column;
}
html body .main-content .content-box {
  display: flex;
  padding: 10px;
  align-items: center;
  margin: 10px;
  justify-content: space-between;
}
@media (max-width:800px) {
  html body .main-content .content-box {
    flex-direction: column;
  }
}
html body .main-content .content-box img {
  width: 350px;
  border-radius: 20px;
}
html body .main-content .content-box .text-content {
  padding: 15px;
}
html body .main-content .content-box .text-content h2 {
  font-size: 2.6rem;
  text-align: center;
  padding: 10px;
  font-family: 'Pattaya';
}
html body .main-content .content-box .about {
  display: flex;
  justify-content: space-between;
}
@media (max-width:800px) {
  html body .main-content .content-box .about {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
