html {
    background-color: #F7F9FB;
    font-size: 67.5%;

    body {
        display: flex;
        font-family: 'Montserrat';
        font-size: 1.5rem;
        width: 80%;
        margin: 0 auto;
        color: @darkblue;
        flex-direction: column;

        .nav_links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 15px auto;
            width: 400px;
            a {
                text-decoration: none;
                color: @darkblue;
            }

            a:hover {
                color: @lightblue;
            }
        }

        header {
            text-align: center;

            .call-to-action {
                display: flex;
                margin: 5px;
                flex-direction: row;
                justify-content: center;

                button {
                    margin: 10px;
                    width: 100px;
                    height: 50px;
                    font-size: 1.7rem;
                    background: @blue2;
                    color: @white;
                    border-radius: 16px;
                }

                button:hover {
                    background-color: @lightblue;
                    color: @darkblue
                }

            }
        }

        .main-content {
            display: flex;
            flex-direction: column;
            
            .content-box {
                display: flex;
                padding: 10px;
                align-items: center;
                margin: 10px;

                .text-content {
                    padding: 15px;

                    h2 {
                        font-size: 1.8rem;
                    }
                }

            }

        }
    }
}

