
        .nav-box {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            @media @mobile {
                flex-direction: column;
                
            }

            img {
                width: 300px;

                @media @mobile {
                    margin-left: 50px;
                }

            }
            .nav_links {
                display: flex;
                justify-content: space-between;
                align-items: center;
                //margin: 15px auto;
                width: 400px;
                
                a {
                    text-decoration: none;
                    color: @darkblue;
                }
    
                a:hover {
                    color: @lightblue;
                }
            }
        }